<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ titreDestinataire }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="messages-container">
    <div *ngFor="let message of messages" 
         [ngClass]="{'message': true, 'my-message': message.estCoiffeur === estCoiffeur, 'other-message': message.estCoiffeur !== estCoiffeur}">
      <div class="message-bubble">
        {{ message.contenu }}
        <div class="message-time">
          {{ message.dateEnvoi | date:'HH:mm' }}
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="input-container">
      <ion-input
        placeholder="Écrivez votre message..."
        [(ngModel)]="nouveauMessage"
        (keyup.enter)="envoyerMessage()"
      ></ion-input>
      <ion-button fill="clear" (click)="envoyerMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
