<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <h1>Mon compte</h1>
  </div>

  <a href="#" class="clickable-item">
    <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    <span>Booster mon profil</span>
  </a>

  <h2 class="ion-padding">Informations de rendez-vous</h2>
  <div class="clickable-items">
    <a href="#" class="clickable-item">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <span>Mes communes</span>
      <ion-note slot="end">Etterbeek, Bruxelles, ...</ion-note>
    </a>
    <a href="#" class="clickable-item">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <span>Mes horaires</span>
      <ion-note slot="end">9h00-18h00, toutes les heures</ion-note>
    </a>
    <a href="#" class="clickable-item">
      <ion-icon name="cut-outline" slot="start"></ion-icon>
      <span>Mes coupes</span>
    </a>
    <a href="#" class="clickable-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mon profil coiffeur</span>
    </a>
  </div>

  <h2 class="ion-padding">Général</h2>
  <div class="clickable-items">
    <a href="#" class="clickable-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mon compte</span>
    </a>
    <a href="#" class="clickable-item">
      <ion-icon name="git-commit-outline" slot="start"></ion-icon>
      <span>Historique des rendez-vous</span>
    </a>
  </div>

  <h2 class="ion-padding">Plus</h2>
  <div class="clickable-items">
    <a href="/contact" class="clickable-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <span>Nous contacter</span>
    </a>
  </div>

  <a href="#" class="ion-text-white">Se déconnecter</a>
</ion-content>