<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <h1>Mon compte</h1>
  </div>

  <ion-list class="clickable-items">
    <ion-item>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
      <ion-label>Booster mon profil</ion-label>
    </ion-item>
  </ion-list>

  <h2 class="ion-padding">Informations de rendez-vous</h2>
  <ion-list class="clickable-items">
    <ion-item>
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <ion-label>Mes communes</ion-label>
      <ion-note slot="end">Etterbeek, Bruxelles, ...</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>Mes horaires</ion-label>
      <ion-note slot="end">9h00-18h00, toutes les heures</ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name="cut-outline" slot="start"></ion-icon>
      <ion-label>Mes coupes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Mon profil coiffeur</ion-label>
    </ion-item>
  </ion-list>

  <h2 class="ion-padding">Général</h2>
  <ion-list class="clickable-items">
    <ion-item>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="git-commit-outline" slot="start"></ion-icon>
      <ion-label>Historique des rendez-vous</ion-label>
    </ion-item>
  </ion-list>

  <h2 class="ion-padding">Plus</h2>
  <ion-list class="clickable-items">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>Nous contacter</ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="medium" class="ion-text-white">Se déconnecter</ion-button>
</ion-content>