ion-content {
    --ion-background-color: #f4f4f4;
}

h2 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

ion-card {
  margin: 12px 0px 12px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}