<ion-header>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="favoriteBarbers.length > 0; else noFavorites">
    <ion-card *ngFor="let barber of favoriteBarbers">
      <ion-card-header>
        <img class="barberprofilepicture" [src]="barber.profile" [alt]="barber.name"/>
        <ion-card-title>{{barber.name}}</ion-card-title>
        <ion-card-subtitle>{{barber.type}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Prix: {{barber.price}}</p>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noFavorites>
    <p class="ion-text-center">Aucun favori pour le moment</p>
  </ng-template>
</ion-content>
