<ion-header>
  <ion-toolbar>
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="favoriteBarbers.length > 0; else noFavorites">
    <ion-card *ngFor="let coiffeur of favoriteBarbers" [routerLink]="['/detail-barber', coiffeur.id]">
      <div class="cuts" style="display: inline;" *ngIf="coiffeur.photosCoupes?.length > 0">
        <img class="barbercuts" [src]="coiffeur.photosCoupes[0]" alt="coupe" />
      </div>

      <ion-card-content>
        <img *ngIf="coiffeur.photoURL" class="barberprofilepicture" [src]="coiffeur.photoURL" alt="profil" />
        <ion-card-title class="barbername">{{coiffeur.nomCoiffeur}}</ion-card-title>
        <ion-card-title class="prices" *ngIf="coiffeur.tarifs?.length > 0">
          {{coiffeur.tarifs[0]}}
        </ion-card-title>

        <ion-card-subtitle class="barbertype">{{coiffeur.typeCoiffeur?.join(', ')}}</ion-card-subtitle>
        <ion-card-subtitle class="barberrate">0.0<ion-icon name="star"></ion-icon></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
  <ng-template #noFavorites>
    <p class="ion-text-center">Aucun favori pour le moment</p>
  </ng-template>
</ion-content>
