<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/inscription"><ion-icon name="chevron-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Inscription professionnels</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="yow">
    <img src="../../../assets/icon/font-logo.png" alt="logo easyhair" id="logo">
  </div>

  <form [formGroup]="regForm" novalidate>
    <ion-input label="Nom du salon/entreprise" labelPlacement="stacked" placeholder="Entrez le nom de votre entreprise" fill="outline" type="text" formControlName="nomCoiffeur" required></ion-input>
    
    <ion-input label="Prénom" labelPlacement="stacked" placeholder="Entrez votre prénom" fill="outline" type="text" formControlName="prénom" required></ion-input>
    
    <ion-input label="Nom" labelPlacement="stacked" placeholder="Entrez votre nom" fill="outline" type="text" formControlName="nom" required></ion-input>

    <ion-select label="Genre" labelPlacement="stacked" placeholder="Sélectionnez votre genre" fill="outline" formControlName="genre">
      <ion-select-option value="homme">Homme</ion-select-option>
      <ion-select-option value="femme">Femme</ion-select-option>
      <ion-select-option value="x">Ne pas préciser</ion-select-option>
    </ion-select>

    <ion-input label="Email" labelPlacement="stacked" placeholder="Entrez votre email Gmail" type="email" fill="outline" formControlName="email" required></ion-input>
    
    <ion-input label="Téléphone" labelPlacement="stacked" placeholder="Entrez votre numéro de téléphone" type="tel" fill="outline" formControlName="telephone" required></ion-input>

    <ion-input label="Mot de passe" labelPlacement="stacked" placeholder="Entrez votre mot de passe" type="password" fill="outline" formControlName="password" required></ion-input>

    <ion-select label="Type de coiffeur" labelPlacement="stacked" placeholder="Sélectionnez vos spécialités" fill="outline" formControlName="typeCoiffeur" multiple="true">
      <ion-select-option *ngFor="let type of typeCoiffeur" [value]="type">{{type}}</ion-select-option>
    </ion-select>

    <ion-select label="Communes" labelPlacement="stacked" placeholder="Sélectionnez vos zones d'activité" fill="outline" formControlName="communes" multiple="true">
      <ion-select-option *ngFor="let commune of communes" [value]="commune">{{commune}}</ion-select-option>
    </ion-select>

    <ion-button 
      (click)="signUp()" 
      expand="block" 
      class="black-button"
      [disabled]="!regForm.valid">
      S'inscrire
    </ion-button>
  </form>

</ion-content>
