<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{barber?.nomCoiffeur || 'Détails du Barbier'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    <ion-card-header>
      <div class="barber-image">
        <img class="barbercuts" alt="coupe" [src]="barber?.photosCoupes?.[0] || 'assets/default.jpg'" />
      </div>
      <div class="profile-section">
        <img class="profile-image" alt="profil" [src]="barber?.photoURL || 'assets/default.jpg'"/>
        <div class="profile-info">
          <ion-card-title>{{barber?.nomCoiffeur}}</ion-card-title>
          <ion-card-subtitle>{{barber?.typeCoiffeur?.join(', ')}}</ion-card-subtitle>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tarif of barber?.tarifs">
          <ion-label>{{tarif.split('(')[0]}}</ion-label>
          <ion-note slot="end">{{tarif.split('(')[1]?.replace(')', '')}}</ion-note>
        </ion-item>
      </ion-list>

      <ion-button expand="block" class="black-button" [routerLink]="['/prendre-rdv']">
        Prendre rendez-vous
      </ion-button>
      <ion-button expand="block" class="gold-button" (click)="toggleFavorite()">
        {{ isFavorite ? 'Retirer des favoris' : 'Mettre en favori' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avis Clients</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="review-item">
        <p>Excellent service, je recommande vivement !</p>
        <p>Note : 5.0</p>
      </div>
      <div class="review-item">
        <p>Coupe parfaite, j'y retournerai.</p>
        <p>Note : 4.7</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>