<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{barber?.name || 'Détails du Barbier'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="barber-image">
    <img class="barbercuts" alt="coupe" [src]="barber?.image || 'assets/default-cut.png'" />
    <img [src]="barber?.profile || 'assets/default-profile.png'" [alt]="barber?.name || 'Default Name'" class="barberprofilepicture"/>
  </div>

  <ion-card>
    <ion-card-header>
      <img class="barberprofilepicture" alt="profil" [src]="barber?.profile || 'assets/default-profile.png'"/>
      <ion-card-title>{{barber?.name}}</ion-card-title>
      <ion-card-subtitle>{{barber?.type}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Coupe Homme</ion-label>
          <ion-note slot="end">{{barber?.price}}</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Coupe + Barbe</ion-label>
          <ion-note slot="end">25,99€</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Coupe + Soin</ion-label>
          <ion-note slot="end">30,99€</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Rasage Traditionnel</ion-label>
          <ion-note slot="end">15,99€</ion-note>
        </ion-item>
      </ion-list>

      <ion-button expand="block" color="primary" class="ion-margin-top" [routerLink]="['/prendre-rdv']">
        Prendre rendez-vous
      </ion-button>
      <ion-button expand="block" color="warning" class="ion-margin-top" (click)="toggleFavorite()">
        {{ isFavorite ? 'Retirer des favoris' : 'Mettre en favori' }}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Avis Clients</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="review-item">
        <p>Excellent service, je recommande vivement !</p>
        <p>Note : 5.0</p>
      </div>
      <div class="review-item">
        <p>Coupe parfaite, j'y retournerai.</p>
        <p>Note : 4.7</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>