<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/connexion"><ion-icon name="chevron-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="supertitle">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <p class="titles">Rénitialisez votre mot de passe</p>
  <p>Entrez votre email pour recevoir un nouveau mot de passe.</p>

  <!-- Formulaire pour rénitialiser son mot de passe -->
  <form>
      <ion-input [(ngModel)]="email" name="email" label="Email" labelPlacement="stacked" placeholder="Entrez votre email" type="email" fill="outline" required ></ion-input>

    <!-- Bouton pour recevoir l'email -->
    <ion-button (click)="resetPassword()" expand="block" style="margin-top: 12px;" class="black-button" >Rénitialiser mon mot de passe</ion-button>
  </form>

</ion-content>
