<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reset-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-title>Entrez votre email</ion-title>
    <p>Pour recevoir un nouveau mot de passe.</p>
  </div>

  <form>
    <ion-item>
      <ion-input [(ngModel)]="email" name="email" label="Email" labelPlacement="floating" type="email" required ></ion-input>
    </ion-item>

    <ion-button (click)="resetPassword()" expand="full" >Rénitialiser mon mot de passe</ion-button>
  </form>

</ion-content>
