<ion-header>
  <ion-toolbar>
    <ion-icon name="close" slot="start" routerLink="/tabs/accueil" style="padding-left: 12px;"></ion-icon>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="yow">
  <img src="../../../assets/icon/font-logo.png" alt="logo easyhair" id="logo">
  </div>
  <!-- Formulaire d'inscription -->
  <form [formGroup]="regForm" novalidate >

    <ion-input label="Nom d'utilisateur" labelPlacement="stacked" placeholder="Entrez votre surnom" fill="outline" type="text" formControlName="fullname" required ></ion-input>
    <ion-input label="Email" labelPlacement="stacked" placeholder="Entrez votre email" type="email" fill="outline" formControlName="email" required ></ion-input>
    <ion-input label="Mot de passe" labelPlacement="stacked" placeholder="Entrez votre mot de passe" type="text" fill="outline" formControlName="password" required ></ion-input>

    <!-- Bouton pour s'inscrire -->
    <ion-button (click)="signUp()" expand="block" class="butbut">S'inscrire</ion-button>

  </form>

  <!-- Bouton vers page pour se connecter-->
  <div class="enbasla">
    <p>Vous avez déjà un compte ? <a routerLink="/connexion" >Se connecter</a></p>
  </div>

</ion-content>
