ion-input {
    margin-bottom: 12px;
    padding-bottom: 18px;
}

ion-select {
    margin-bottom: 12px;
    padding-bottom: 18px;
}

form {
    margin-top: 12px;
}

.enbasla {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.yow {
    display: flex;
    justify-content: center;
}

#logo {
    width: 200px;
    margin: 30px;
}
