<ion-header>
  <ion-toolbar>
    <ion-title>
      Agenda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Group appointments by date -->
  <ng-container *ngFor="let appointment of appointments; let first = first">
    <!-- Show date header when date changes -->
    <h2 
    *ngIf="first || appointment.date !== appointments[i-1]?.date"
    style="padding: 16px 16px 8px 16px;">
      {{formatDate(appointment.date)}}
    </h2>

    <!-- Appointment card -->
    <ion-card>
        <h2>{{appointment.nomCompletClient}}</h2>
        <h2>⏱️ <span class="date">{{appointment.heure}}</span></h2>

        <p>💵 {{appointment.tarif}}</p>
        <h2>📍 {{appointment.adresse}}</h2>
    </ion-card>
  </ng-container>

  <!-- Show message when no appointments -->
  <ion-text *ngIf="appointments.length === 0">
    <p class="ion-text-center">Aucun rendez-vous prévu</p>
  </ion-text>

</ion-content>
