<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back" slot="start" routerLink="/tabs/accueil" style="padding-left: 12px;"></ion-icon>
    <ion-title>Prendre rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <h2>Réserver un rendez-vous</h2>

  <!-- Calendrier Google intégré -->
  <div class="calendar-container">
    <ng-container *ngIf="availableSlots.length > 0; else noSlots">
      <div class="available-slots">
        <div *ngFor="let slot of availableSlots" class="slot-item" 
             [class.selected]="selectedSlot === slot"
             (click)="selectSlot(slot)">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{ slot.date | date:'dd/MM/yyyy' }} - {{ slot.time }}</span>
        </div>
      </div>
    </ng-container>
    <ng-template #noSlots>
      <div class="no-slots-message">
        <ion-icon name="calendar-outline"></ion-icon>
        <p>Aucun créneau disponible actuellement</p>
      </div>
    </ng-template>
  </div>

  <form [formGroup]="bookingForm" (ngSubmit)="confirmBooking()">
    <div class="booking-selectors ion-padding">
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime 
          formControlName="selectedDate"
          presentation="date"
          [min]="minDate"
          [max]="maxDate"
          (ionChange)="onDateSelected($event)">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Heure</ion-label>
        <ion-select 
          formControlName="selectedTime"
          placeholder="Sélectionnez un horaire">
          <ion-select-option 
            *ngFor="let time of availableTimes" 
            [value]="time">
            {{ time }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="ion-text-center ion-padding">
      <ion-button expand="block" class="black-button" type="submit" [disabled]="!bookingForm.valid">
        Confirmer ma réservation
      </ion-button>
    </div>
  </form>
</ion-content>
