ion-content {
  --background: #F1F1F1;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 12px;
}

p {
  padding-bottom: 12px;
  margin: 0px;
  border-bottom: 1px solid #f1f1f1;
}

.rdv-info {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px 16px 6px 16px;

    .select-hour {
      margin-top: 4px;
      --border-color: #fff;
      padding-left: 0px;
      --padding-start: 0;
      --padding-end: 0;
    }
    
}

.booking-selectors {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  padding: 16px 0px 4px 0px;

  ion-datetime {
    --border-radius: 10px;
  }

  .select-hour {
    margin-top: 4px;
    --border-color: #fff;
  }
}

.adresse-rdv {
  padding-top: 12px;
}