<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-back" slot="start" routerLink="/tabs/accueil" style="padding-left: 12px;"></ion-icon>
    <ion-title>Prendre rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <form [formGroup]="bookingForm" (ngSubmit)="confirmBooking()">

      <!-- Calendrier Google intégré -->
    <div class="rdv-info">
      <ion-text *ngIf="coiffeur">
        <p><strong>{{coiffeur.nomCoiffeur}}</strong></p>
      </ion-text>

      <div class="adresse-rdv">
        <p><strong>Votre domicile :</strong> {{userAddress || 'Adresse non disponible'}}</p>
      </div>

      <!-- Sélection du tarif -->
      <ion-item class="select-hour">
        <ion-select 
          label="Prestation"
          formControlName="selectedService"
          placeholder="Sélectionnez une prestation">
          <ion-select-option 
            *ngFor="let tarif of coiffeur?.tarifs" 
            [value]="tarif">
            {{tarif}}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </div>

    <div class="booking-selectors">

      <!-- Date picker existant -->
      <ion-item>
        <ion-datetime 
          formControlName="selectedDate"
          presentation="date"
          [min]="minDate"
          [max]="maxDate"
          (ionChange)="onDateSelected($event)">
        </ion-datetime>
      </ion-item>

      <!-- Time picker existant -->
      <ion-item class="select-hour">
        <ion-label>Heure</ion-label>
        <ion-select 
          formControlName="selectedTime"
          placeholder="Sélectionnez un horaire">
          <ion-select-option 
            *ngFor="let time of availableTimes" 
            [value]="time">
            {{ time }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="ion-text-center">
      <ion-button expand="block" class="black-button" type="submit" [disabled]="!bookingForm.valid">
        Confirmer ma réservation
      </ion-button>
    </div>
  </form>
</ion-content>
