<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button class="gold-button" expand="block" routerLink="/forfait">
    <ion-icon name="trending-up-outline" slot="start"></ion-icon>
    Booster mon profil
  </ion-button>

  <h2 id="haut">Informations de rendez-vous</h2>
  <div class="clickable-items">
    <ion-select
      label="Mes communes"
      labelPlacement="stacked"
      placeholder="Sélectionnez vos communes"
      fill="outline"
      [multiple]="true"
      [(ngModel)]="selectedCommunes"
      (ionChange)="updateCommunes()"
      id="selectcommunes"
    >
      <ion-select-option *ngFor="let commune of communes" [value]="commune">
        {{commune}}
      </ion-select-option>
    </ion-select>

    <a class="clickable-item">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <span>Mes horaires</span>
    </a>
    <a class="clickable-item" routerLink="/mon-profil-coiffeur">
      <ion-icon name="person-circle-outline"></ion-icon>
      <span>Mon profil coiffeur</span>
    </a>
  </div>

  <h2>Général</h2>
  <div class="clickable-items">
    <a class="clickable-item" routerLink="/mes-informations-coiffeur">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mes informations</span>
    </a>
    <a class="clickable-item" id="open-modal">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <span>Historique des rendez-vous</span>
    </a>
  </div>

  <h2>Plus</h2>
  <div class="clickable-items">
    <a routerLink="/contact" class="clickable-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <span>Nous contacter</span>
    </a>
    <a class="clickable-item">
      <ion-icon name="reader-outline" slot="start"></ion-icon>
      <span>Mentions légales</span>
    </a>
  </div>

  <ion-button
    (click)="logout()"
    routerLink="/connexion"
    class="black-button"
    expand="block"
    >Se déconnecter
  </ion-button>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">

        <ng-container *ngIf="appointments.length > 0; else noAppointments2">
          <ng-container *ngFor="let rdv of appointments">
            <ion-card class="ion-padding" *ngIf="rdv.statut == 'finished'">
              <h2 class="date" style="padding: 0%;">{{formatDate(rdv.date)}}, {{rdv.heure}}</h2>
              <p style="font-weight: 500;">{{rdv.nomCompletClient}}</p>
              <p>💵 {{rdv.tarif}}</p>
              <p>📍 {{rdv.adresse}}</p>
              <div style="display: flex; justify-content: space-around;">
              </div>
            </ion-card>
          </ng-container>
        </ng-container>

        <ng-template #noAppointments2>
          <ion-card class="ion-padding">
            <p>Vous n'avez pas d'anciens rendez-vous.</p>
          </ion-card>
        </ng-template>

      </div>
    </ng-template>
  </ion-modal>

</ion-content>
