<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button class="gold-button" expand="block" routerLink="/coiffeur-tabs/mon-compte">
    <ion-icon name="trending-up-outline" slot="start"></ion-icon>
    Booster mon profil
  </ion-button>
  
  <h2 id="haut" >Informations de rendez-vous</h2>
  <div class="clickable-items">
    <a class="clickable-item">
      <ion-icon name="location-outline" slot="start"></ion-icon>
      <span>Mes communes</span>
      <ion-note slot="end">Etterbeek, Bruxelles, ...</ion-note>
    </a>
    <a class="clickable-item">
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <span>Mes horaires</span>
      <ion-note slot="end">9h00-18h00, toutes les heures</ion-note>
    </a>
    <a class="clickable-item">
      <ion-icon name="cut-outline" slot="start"></ion-icon>
      <span>Mes coupes</span>
    </a>
    <a class="clickable-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mon profil coiffeur</span>
    </a>
  </div>

  <h2>Général</h2>
  <div class="clickable-items">
    <a class="clickable-item" routerLink="/mes-informations-coiffeur">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mes informations</span>
    </a>
    <a class="clickable-item">
      <ion-icon name="git-commit-outline" slot="start"></ion-icon>
      <span>Historique des rendez-vous</span>
    </a>
  </div>

  <h2>Plus</h2>
  <div class="clickable-items">
    <a routerLink="/contact" class="clickable-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <span>Nous contacter</span>
    </a>
  </div>

  <ion-button (click)="logout()" routerLink="/connexion" class="black-button" expand="block">Se déconnecter</ion-button>
</ion-content>