<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Accueil -->
    <ion-tab-button tab="accueil" (click)="selectTab('accueil')">
      <ion-icon
        [name]="selectedTab === 'accueil' ? 'home' : 'home-outline'"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <!-- Favoris -->
    <ion-tab-button tab="favoris" (click)="selectTab('favoris')">
      <ion-icon
        [name]="selectedTab === 'favoris' ? 'heart' : 'heart-outline'"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>Favoris</ion-label>
    </ion-tab-button>

    <!-- Profil -->
    <ion-tab-button tab="profil" (click)="selectTab('profil')">
      <ion-icon
        [name]="selectedTab === 'profil' ? 'person' : 'person-outline'"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
