<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">

    <h2 class="ion-padding2">Mes rendez-vous</h2>

    <ng-container *ngIf="appointments.length > 0; else noAppointments">
      <ion-card class="ion-padding" *ngFor="let rdv of appointments">
        <h2 class="date">{{formatDate(rdv.date)}}, {{rdv.heure}}</h2>
        <p>💇‍♂️ {{rdv.nomCoiffeur}}</p>
        <p>💵 {{rdv.tarif}}</p>
        <p>📍 {{rdv.adresse}}</p>
      </ion-card>
    </ng-container>

    <ng-template #noAppointments>
      <ion-card class="ion-padding">
        <p>Vous n'avez pas de rendez-vous prévus prochainement.</p>
      </ion-card>
    </ng-template>

    <h2 class="ion-padding">Général</h2>

    <div class="clickable-items">
      <a routerLink="/mes-informations" class="clickable-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <span>Mes informations</span>
      </a>
      <a class="clickable-item">
        <ion-icon name="git-commit-outline" slot="start"></ion-icon>
        <span>Historique des rendez-vous</span>
      </a>
    </div>

    <h2 class="ion-padding">Plus</h2>
    <div class="clickable-items">
      <a routerLink="/contact" class="clickable-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <span>Nous contacter</span>
      </a>
    </div>

    <ion-button (click)="logout()" routerLink="/connexion" class="black-button" expand="block">Se déconnecter</ion-button>

  </ng-container>

  <ng-template #notLoggedIn>

    <p>Vous n'êtes pas connecté.</p>
    <ion-button routerLink="/connexion" expand="block" class="black-button">Se connecter</ion-button>
    
  </ng-template>

</ion-content>
