<ion-header>
  <ion-toolbar>
    <ion-title>Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ng-container *ngIf="isLoggedIn(); else notLoggedIn">

    <h2 class="ion-padding2">Mes rendez-vous</h2>

    <ng-container *ngIf="appointments.length > 0; else noAppointments">
      <ng-container *ngFor="let rdv of appointments">
        <ion-card class="nextrdv ion-padding" *ngIf="rdv.statut !== 'finished' && rdv.statut !== 'canceled'">
          <div style="display: flex; justify-content: space-between; align-items: start;">

            <h2 class="date">{{formatDate(rdv.date)}}, {{rdv.heure}}</h2>

            <ion-button fill="clear" 
                      [id]="'trigger-button-' + rdv.id"
                      style="margin-top: -10px; margin-right: -10px;">
              <ion-icon name="ellipsis-vertical-outline"></ion-icon>
            </ion-button>

            <ion-popover [trigger]="'trigger-button-' + rdv.id" triggerAction="click">
              <ng-template>
                <ion-content>
                  <ion-button expand="block" 
                            fill="clear"
                            style="margin: 0%;" 
                            color="danger"
                            [disabled]="!canCancelAppointment(rdv)"
                            (click)="cancelAppointment(rdv)">
                    Annuler le rendez-vous
                  </ion-button>
                </ion-content>
              </ng-template>
            </ion-popover>

          </div>

          <p style="font-weight: 500;">💇‍♂️ {{rdv.nomCoiffeur}}</p>
          <p>💵 {{rdv.tarif}}</p>
          <p>📍 {{rdv.adresse}}</p>

          <div style="display: flex; justify-content: space-around;">
            <ion-button class="black-button" style="width: 100%;" (click)="goToBarberDetail(rdv.uidCoiffeur)">{{rdv.nomCoiffeur}}</ion-button>
            <ion-button 
              class="finish gold-button" 
              style="width: 100%;" 
              [disabled]="!isAppointmentPassed(rdv)"
              (click)="markAsFinished(rdv)">
              Terminé
            </ion-button>
          </div>
          
        </ion-card>
      </ng-container>
    </ng-container>

    <ng-template #noAppointments>
      <ion-card class="ion-padding">
        <p>Vous n'avez pas de rendez-vous prévus prochainement.</p>
      </ion-card>
    </ng-template>

    <h2 class="ion-padding">Général</h2>

    <div class="clickable-items">
      <a routerLink="/mes-informations" class="clickable-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <span>Mes informations</span>
      </a>
      <a class="clickable-item" id="open-modal">
        <ion-icon name="file-tray-full-outline"></ion-icon>
        <span>Historique des rendez-vous</span>
      </a>
    </div>

    <h2 class="ion-padding">Plus</h2>
    <div class="clickable-items">
      <a routerLink="/contact" class="clickable-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <span>Nous contacter</span>
      </a>
      <a class="clickable-item">
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <span>Mentions légales</span>
      </a>
    </div>

    <ion-button (click)="logout()" routerLink="/connexion" class="black-button" expand="block">Se déconnecter</ion-button>

    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">

          <ng-container *ngIf="appointments.length > 0; else noAppointments2">
            <ng-container *ngFor="let rdv of appointments">
              <ion-card class="ion-padding" *ngIf="rdv.statut == 'finished'">
                <h2 class="date">{{formatDate(rdv.date)}}, {{rdv.heure}}</h2>
                <p style="font-weight: 500;">💇‍♂️ {{rdv.nomCoiffeur}}</p>
                <p>💵 {{rdv.tarif}}</p>
                <p>📍 {{rdv.adresse}}</p>
                <div style="display: flex; justify-content: space-around;">
                </div>
              </ion-card>
            </ng-container>
          </ng-container>

          <ng-template #noAppointments2>
            <ion-card class="ion-padding">
              <p>Vous n'avez pas d'anciens rendez-vous.</p>
            </ion-card>
          </ng-template>

        </div>
      </ng-template>
    </ion-modal>

  </ng-container>

  <ng-template #notLoggedIn>

    <p style="margin-left: 6px;">Vous n'êtes pas connecté.</p>
    <ion-button routerLink="/connexion" expand="block" class="black-button">Se connecter</ion-button>
    
  </ng-template>

</ion-content>
