<ion-header>
  <ion-toolbar>
    <ion-title size="large">Mon compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="ion-padding">Mes rendez-vous</h2>
  <p>Vous n'avez pas de rendez-vous pour le moment.</p>

  <h2 class="ion-padding">Général</h2>
  <div class="clickable-items">
    <a href="#" class="clickable-item">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <span>Mon compte</span>
    </a>
    <a href="#" class="clickable-item">
      <ion-icon name="git-commit-outline" slot="start"></ion-icon>
      <span>Historique des rendez-vous</span>
    </a>
  </div>

  <h2 class="ion-padding">Plus</h2>
  <div class="clickable-items">
    <a routerLink="/contact" class="clickable-item">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <span>Nous contacter</span>
    </a>
  </div>

  <ion-button (click)="logout()" routerLink="/connexion" class="ion-text-white" expand="block">Se déconnecter</ion-button>
</ion-content>
