ion-content {
  --ion-background-color: #f4f4f4;
}

h2 {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.clickable-items {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  --ion-text-color: #333;
}

.clickable-item {
  display: flex;
  align-items: center;
  padding: 16px;
  color: #333;
  text-decoration: none;
}

.clickable-item ion-icon {
  margin-right: 16px;
}

.clickable-item span {
  flex-grow: 1;
}

.clickable-item ion-note {
  color: #666;
}

a.ion-text-white {
  display: block;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 16px;
  border-radius: 10px;
  text-decoration: none;
  margin: 16px;
}