<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coiffeur-tabs/mon-compte"></ion-back-button>
    </ion-buttons>
    <ion-title>Forfaits</ion-title>
    <ion-buttons slot="end">
      <ion-button id="auto-trigger"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-popover trigger="auto-trigger" size="auto">
      <ng-template>
        <ion-content class="ion-padding">
          Gérer mon abonnement
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card
    (click)="toggleCard('standard')"
    [class.expanded]="expandedCards.standard"
  >
    <ion-card-header>
      <ion-card-title>Forfait Standard</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Notre forfait de base pour les professionnels</p>
      <ion-list>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start"></ion-icon>
          <ion-label>Gestion des rendez-vous</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start"></ion-icon>
          <ion-label>Profil professionnel</ion-label>
        </ion-item>
      </ion-list>
      <div class="expanded-content" *ngIf="expandedCards.standard">
        <h3>Détails de l'offre</h3>
        <ion-list>
          <ion-item lines="none">
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
            <ion-label>
              <h4>Prix mensuel</h4>
              <p>49,99 €/mois</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <h4>Engagement minimum</h4>
              <p>1 mois</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="black-button">Souscrire au forfait Standard</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card
    (click)="toggleCard('premium')"
    [class.expanded]="expandedCards.premium"
    class="goldcard"
  >
    <ion-card-header>
      <ion-card-title class="goldtext">Booster mon profil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Apparaissez en premier dans vos communes !</p>
      <ion-list>
        <ion-item>
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Tête de liste dans votre commune</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Statistiques avancées</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="star-outline" slot="start"></ion-icon>
          <ion-label>Support prioritaire</ion-label>
        </ion-item>
      </ion-list>
      <div class="expanded-content" *ngIf="expandedCards.premium">
        <h3>Détails de l'offre</h3>
        <ion-list>
          <ion-item lines="none">
            <ion-icon name="pricetag-outline" slot="start"></ion-icon>
            <ion-label>
              <h4>Prix</h4>
              <p>14,99 €/semaine</p>
              <p>39,99 €/mois</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-label>
              <h4>Engagement minimum</h4>
              <p>1 mois</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-button expand="block" class="gold-button"
          >Souscrire à un boost</ion-button
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
