<ion-header>
  <ion-toolbar>
    <ion-icon name="close" slot="start" routerLink="/tabs/accueil" style="padding-left: 12px;"></ion-icon>
    <ion-title class="supertitle">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">   

  <!-- Logo -->
  <div class="yow">
    <img src="../../../assets/icon/font-logo.png" alt="logo easyhair" id="logo">
  </div>

  <div class="loginform">
    <!-- Bouton Google -->
    <ion-button expand="block" fill="clear" class="grey-button" shape="default" (click)="signUpWithGoogle()">
      <ion-icon slot="start" name="logo-google" style="padding-right: 8px;"></ion-icon>
      <ion-text>Continuer avec Google</ion-text>
    </ion-button>

    <!-- Séparateur -->
    <div class="separator-container">
      <div class="line"></div>
      <span class="separator-text">OU</span>
      <div class="line"></div>
    </div>


    <!-- Formulaire de connexion par email/mpd -->
    <form [formGroup]="loginForm"> 
      
      <ion-input placeholder="Entrez votre email" label="Email" labelPlacement="stacked" type="email" formControlName="email" fill="outline"></ion-input>
      <ion-input placeholder="Entrez votre mot de passe" label="Mot de passe" labelPlacement="stacked" formControlName="password" type="password" fill="outline"></ion-input>
      
      <div class="texty2">
        <a routerLink="/reset-password">Mot de passe oublié ?</a>
      </div>

      <ion-button (click)="login()" expand="block" class="black-button" style="margin-top: 15px;">Se connecter</ion-button>

    </form>
  </div>

  <!-- Lien pour l'inscription -->
  <div class="texty" class="enbasla">
    <p>Vous n'avez pas de compte ? <a routerLink="/inscription" >S'inscrire maintenant</a></p>
  </div>
  
</ion-content>
