<ion-header>
  <ion-toolbar>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

  <!-- Formulaire de connexion -->
  <form [formGroup]="loginForm">
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" type="email" formControlName="email" ></ion-input>
      </ion-item>

      <ion-item style="display: flex">
        <ion-input label="Password" labelPlacement="floating" formControlName="password" type="password"></ion-input>
        <div>
          <a routerLink="/reset-password">Mot de passe oublié ?</a>
        </div>
      </ion-item>

      <!-- Bouton de Connexion -->
      <ion-button (click)="login()" expand="block" class="login-button" style="margin-top: 15px;" >Se connecter</ion-button>
  </form>

  <!-- Lien pour l'inscription -->
  <div>
    <p>Vous n'avez pas encore de compte ? <a routerLink="/page-d-inscription" >S'inscrire maintenant</a></p>
  </div>

  <!-- Lien pour continuer sans se connecter -->
  <div>
    <a routerLink="/tabs/tab1" >Continuer sans se connecter</a>
  </div>
  
</ion-content>
