<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/coiffeur-tabs/mon-compte"></ion-back-button>
    </ion-buttons>
    <ion-title>Mon profil coiffeur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Photo de profil -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Photo de profil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="photoProfil" *ngIf="photoProfil" class="photo-profil"></ion-img>
      <ion-button expand="block" (click)="ajouterPhoto('profile')" class="ion-margin-top black-button">
        <ion-icon name="camera" slot="start"></ion-icon>
        {{ photoProfil ? 'Modifier' : 'Ajouter' }} la photo de profil
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Photos des coupes -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Photos de mes coupes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let photo of photosCoupes; let i = index">
            <div class="photo-container">
              <ion-img [src]="photo"></ion-img>
              <ion-button fill="clear" class="delete-button" (click)="supprimerPhotoCoupe(i, photo)">
                <ion-icon name="trash" color="danger"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button expand="block" (click)="ajouterPhoto('hairstyle')" class="black-button">
        <ion-icon name="add" slot="start"></ion-icon>
        Ajouter une photo
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Type de coiffeur -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Type de coiffeur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-select
        label="Type de coiffeur" 
        labelPlacement="stacked"
        placeholder="Sélectionnez vos spécialités"
        fill="outline"
        [(ngModel)]="selectedTypes"
        (ionChange)="updateTypes()"
        [multiple]="true">
        <ion-select-option *ngFor="let type of typeCoiffeur" [value]="type">{{type}}</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <!-- Tarifs -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mes tarifs</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let tarif of tarifs; let i = index">
          <ion-label>{{ tarif }}</ion-label>
          <ion-button slot="end" fill="clear" color="danger" (click)="supprimerTarif(i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>

      <div class="ion-margin-top">
        <ion-item>
          <ion-input 
            label="Nouveau tarif"
            labelPlacement="stacked"
            placeholder="Ex: Coupe homme (20,00€)"
            [(ngModel)]="nouveauTarif">
          </ion-input>
        </ion-item>
        <ion-button expand="block" (click)="ajouterTarif()" class="black-button">
          <ion-icon name="add" slot="start"></ion-icon>
          Ajouter un tarif
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>


  <!-- avis -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mes avis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ng-container *ngIf="reviews.length > 0; else noReviews">
        <ion-card *ngFor="let review of reviews" class="review-card">
          <ion-card-content>
            <div class="review-header">
              <h3>{{review.userData?.prenom}} {{review.userData?.nom}}</h3>
              <p>{{review.date | date:'dd/MM/yyyy'}}</p>
            </div>
            
            <div class="rating">
              <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" 
                        [style.color]="num <= review.note ? '#ffd700' : '#ccc'">
              </ion-icon>
            </div>

            <p class="comment">{{review.commentaire}}</p>

            <div *ngIf="review.reponse" class="response">
              <p><strong>Ma réponse:</strong> {{review.reponse}}</p>
            </div>

            <div *ngIf="!review.reponse" class="response-form">
              <ion-textarea
                placeholder="Répondre à cet avis..."
                [(ngModel)]="reponses[review.id]"
                rows="3">
              </ion-textarea>
              <ion-button expand="block" 
                        (click)="submitResponse(review.id)"
                        class="grey-button"
                        fill="clear">
                Répondre
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <ng-template #noReviews>
        <p>Aucun avis pour le moment</p>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
