<ion-header>
  <ion-toolbar class="headerchiant">
    <img src="../../../../assets/icon/logo+txt.png" alt="logo easyhair" class="logo" slot="start">
    <ion-icon name="search" slot="end" style="margin-right: 16px;"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-searchbar search-icon="location-outline" placeholder="Entrez votre adresse" class="search"></ion-searchbar>

  <div class="filters">
    <ion-chip [outline]="true">Barbers</ion-chip>
    <ion-chip [outline]="true">Coupe homme</ion-chip>
    <ion-chip [outline]="true">Coupe femme</ion-chip>
    <ion-chip [outline]="true">↑↓</ion-chip>
  </div>

  <ion-card *ngFor="let coiffeur of coiffeurs" [routerLink]="['/detail-barber', coiffeur.id]">
    <div class="cuts" style="display: inline;" *ngIf="coiffeur.photosCoupes?.length > 0">
      <img class="barbercuts" [src]="coiffeur.photosCoupes[0]" alt="coupe" />
    </div>

    <ion-card-content>
      <img *ngIf="coiffeur.photoURL" class="barberprofilepicture" [src]="coiffeur.photoURL" alt="profil" />
      <ion-card-title class="barbername">{{coiffeur.nomCoiffeur}}</ion-card-title>
      <ion-card-title class="prices" *ngIf="coiffeur.tarifs?.length > 0">
        {{getPrix(coiffeur.tarifs[0])}}
      </ion-card-title>

      <ion-card-subtitle class="barbertype">{{coiffeur.typeCoiffeur?.join(', ')}}</ion-card-subtitle>
      <ion-card-subtitle class="barberrate">0.0<ion-icon name="star"></ion-icon></ion-card-subtitle>
    </ion-card-content>
  </ion-card>

</ion-content>
