ion-content {
  --background: #F1F1F1;
}

.logo {
  height: 24px;
  margin-left: 16px;
}

.search{
--border-radius: 8px;
  margin-bottom: 12px;
  padding: 0px;
}

.filters {
  display: flex;
//  justify-content: space-between;
  padding: 0px;
  gap: 6px;

  ion-chip{
    padding-right: 0px;
    font-size: 14px;
    text-align: center;
    padding-inline-start: 0px;
    padding: 0px 8px;
    text-align: center;
    margin: 0px;
    margin-top: 12px;
   }
}

// Style de base pour la card
ion-card {
  width: 100%;
  margin: 16px 0;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.barbercuts {
    height: 200px;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: start;
}

// Layout du contenu de la card
ion-card-content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: 
    "profile name price"
    "profile type rate";
  gap: 0px;
  align-items: center;
  padding: 16px;
}

.barberprofilepicture {
  grid-area: profile;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.barbername {
  grid-area: name;
  font-size: 18px;
  font-weight: 600;
}

.barbertype {
  grid-area: type;
  font-size: 12px;
  font-weight: 500;
}

.prices {
  grid-area: price;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.barberrate {
  grid-area: rate;
  margin: 0;
}

ion-chip {
  &.active {
    --background: var(--ion-color-primary);
    --color: white;
  }
}